# In production, you should use a different DB_USER 
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=gizelle
DB_USER=root
DB_PASSWORD=<Your DB Password>
JWT_KEY=<Secret key to hash jwt>
OPEN_ROUTER_API_KEY=<Your Open Router Api key>