# In production, you should use a different DB_USER 
CONTAINER_ENV=<dev/prod>
NUXT_DB_HOST=db
NUXT_DB_PORT=3306
NUXT_DB_NAME=gizelle
NUXT_DB_USER=root
NUXT_DB_PASSWORD=<Your DB Password>
NUXT_JWT_KEY=<Secret key to hash jwt>
NUXT_OPEN_ROUTER_API_KEY=<Your Open Router Api key>
NUXT_OPEN_ROUTER_LLM_ID=<An open router llm id>