@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  /* orginal color */
  background-color: #f1f5f9;

  /* background-color: #eaeaff; */
  /* background-color: #f2f2f5; */
  font-family: "Inter", sans-serif;
  overflow: hidden;
}
button {
  cursor: pointer;
}

hr {
  border: 1px solid #eaeaea;
  width: 100%;
}
